/* styles/globals.css */

@import "~font-awesome/css/font-awesome.css";
@import url(https://db.onlinewebfonts.com/c/ead4092f880f75ff0883ced1856b2c37?family=SF+Pro+Rounded+Regular);

:root {
  --blue: #0E76FD;
}

html, body {
  height: 80vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: SFRounded,"SF Pro Rounded Regular", ui-rounded, "SF Pro Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  background: 
    url('/Default.svg') center center / cover no-repeat, 
    url('/Component 1.svg')  left / auto no-repeat,     
    url('/Component 2.svg') bottom calc(-200px)  right  / auto no-repeat;  
  background-color: black;
}

