.blob {
  background-color: aliceblue;
  background: linear-gradient(200deg, #0bc94a 0%, #752bec 100%);
  height: 300px;
  width: 500px;
  aspect-ratio: 1;
  position: absolute;
  left:-10%;
  top: -0%;
  border-radius: 50px;
  filter: blur(120px);
  z-index: 0;
  overflow-x: hidden;
  animation: rotate 7s linear infinite;
  
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.formCont1 {
  display: flex;
}

.leftboxes1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.leftboxes1 > div {
  margin: 10px;
  padding: 20px;
}

.rightbox1 {
  margin: 10px;
  padding: 20px;
  flex: 1;
}

.bottomdiv {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 100%; /* Make it span the entire width */
}

.inputGroup {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: rgb(19,19,19);
}

.inputGroup input {
  width: 70%;
  text-align: right;
  border: 0px solid #555;
  background-color: rgb(27,27,27);
  color: #ffffff;
  font-size: 25px;
  border-radius: 8px;
}
.inputGroup input:focus {
    border: 0px solid #555;
    border: 0px;
    outline: none;
 }

 .inputGroup31 {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #121212;
}

.inputGroup31 input {
  width: 70%;
  text-align: right;
  border: 0px solid #555;
  background-color: rgb(27,27,27);
  color: #ffffff;
  font-size: 25px;
  border-radius: 8px;
}
.inputGroup31 input:focus {
    border: 0px solid #555;
    border: 0px;
    outline: none;
 }
.input1Container {
  border: 2px #2B242B;
  border-style: solid;
  border-radius: 20px;
  padding: 30px;
  width: 100%; 
  background-color: rgb(19,19,19);
  box-shadow:  0 0px 10px 0 #3a283a; 
  font-weight: 500;
}


.input2Container {
  border: 2px #2B242B;
  border-style: solid;
  padding: 20px;
  width: 100%; 
  border-radius: 20px;
  background-color: rgb(19,19,19);
  box-shadow:  0 0px 10px 0 #3a283a; 
  font-weight: 500;
}
.input3Container {
  border: 2px #2B242B;
  border-style: solid;
  color: white;
  width: 100%;
  padding: 20px;
  float: right;
  border-radius: 20px;
  background-color: rgb(19,19,19);
  box-shadow:  0 0px 10px 0 #3a283a; 
  font-weight: 500;
}

.input2Container input::-webkit-outer-spin-button,
.input2Container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input2Container input[type=number] {
  -moz-appearance: textfield;
}

.createWalletContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.createWalletButton {
  padding: 16px 24px; 
  font-size: 18px;   
  background-color: #ffffff; 
  color: #000000;       
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.createWalletButton:hover {
  background-color: #ffffffd3; /* Change the hover background color */
}
.formCont {
  display: flex;
  height: 50vh; /* Set the height to 50% of the viewport height */
}
.leftbox {
  flex: 1; 
  text-align: center;
  margin-left: 20px;
}

.rightboxes {
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.rightboxes > div {
  margin: 10px;
  flex: 1;

}
.input24Container {
  border:  0px #2B242B;
  border-style: solid;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  font-weight: 500;
}
.input29Container {
  border:  0px #2B242B;
  border-style: solid;
  width: 100%;
  padding: 20px;
  float: right;
  font-weight: 500;
}
.input31Container {
  border: 0px #2B242B;
  border-style: solid;
  padding: 20px;
  width: 100%;
font-weight: 500;
}
@media (max-width: 960px) {
  .input31Container {
    float: right;
    width:100%;
  }}

@media (max-width: 1600px) {
  .input1Container, .input2Container, .input24Container{
    width: auto;
  }
  .input3Container {
    width: 90%; 
  }

  .input29Container{
      width:100%;
      left: 0;
      transform: none;
  }
    .input31Container {
    float: right;
    width:100%;
  }
}

@media (max-width: 960px) {
  .input1Container, .input2Container, .input3Container, .input24Container{
    width: auto;
  }

  .input3Container{
      width:90%;
      left: 0;
      transform: none;
  }
 
}
.subContainer {
  border: 2px black;
  border-style: solid;
  border-radius: 20px;
  width: 550px;
  padding: 50px;
  background-color: white;
}

.label {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}


.pillGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.pill {
  flex: 1;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.active {
  background-color: #007bff;
  color: white;
}

.gasFee {
  text-align: right;
  color: #888;
  font-size: 15px;
}

.TextRight {
  text-align: right;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.labelWithIcon {
  display: flex;
  align-items: center;
}

.iconContainer {
  margin-right: 8px; 
}


.wallet-connect-container {
  text-align: center;
}


.button {
  border-radius: 20px;
}

.borrowButton {
  background-color: rgba(255, 255, 255, 0); 
  color: rgb(255, 255, 255); 
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 25%;
}

.borrowButton:hover {
  transition: 0.2s;
  background-color: rgb(255, 255, 255); 
  color: rgb(0, 0, 0); 
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 25%;

}

@media (max-width: 750px) {
  .borrowButton {
    padding: 10px 20px;  /* Reduced padding */
    font-size: 14px;  /* Reduced font size */
    margin-left: 10%;  /* Adjust margin-left as needed */
  }

  .borrowButton:hover {
    padding: 10px 20px;  /* Reduced padding */
  }
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
  background: #121212;
  border-radius: 8px;
  box-shadow: 0 0px 10px 0 #3a283a; 
  border: 2px #2B242B;
  border-style: solid;
  padding: 20px;
  width: 90%;
  height: 100%;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden; 
  z-index: 1800;
  text-align: center;
}

/* Styling for WebKit browsers (Chrome, Safari) */
.modalContent::-webkit-scrollbar {
  width: 12px; 
}

.modalContent::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 8px; 
}

.modalContent::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.modalContent::-webkit-scrollbar-track {
  border-radius: 20px; 
}

.modalContent {
  scrollbar-width: thin;
  scrollbar-color: #888 #fff; 
}

/* Media query for laptops or larger screens */
@media (min-width: 1024px) {
  .modalContent {
    max-height: 70vh;
    height: 100%;
  border: 2px #2B242B;
  border-style: solid;
  }
}


.modalNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Media query for laptops or larger screens */
@media (min-width: 1024px) {
  .modalContent {
    max-height: 70vh; /* Increase the maximum height for laptops */
  }
}


.modalTitle {
  font-size: 1.5rem;
  font-weight: bold;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(5px);
  }
}

.modalDropdown {
  position: relative;
  flex-grow: 1;
  margin-left: 20px;
  align-self: flex-start;
  text-align-last: center;
  animation: bounce 5s infinite;
  cursor: pointer;
  padding-right: 20px; 
}
.arrow {
    padding-left: 10px; 
    color: white;
}

.modalDropdown select {
  padding: 12px 10px;
  margin: 8px 0 25px 0; /* Increased bottom margin to make space for the arrow */
  box-sizing: border-box;
  border: 2px double #ca92fb53;
  border-radius: 8px;
  appearance: none;
  background-color: rgb(26,32,42);
  color: #ffffff;
  cursor: pointer;
}


.modalDropdown:hover select {
    background-color: rgb(37, 50, 73);
}

.modalDropdown option:focus {
  outline: none;
}



.closeIconContainer {
  cursor: pointer;
}

.closeIcon {
  font-size: 1.5rem;
  color:rgb(255, 255, 255);
}


.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
  padding: 0 50px;
  position: relative;
  z-index: 0;
}

.tableList {
  border-collapse: collapse;
  width: 100%;
  
}

.tableList td,
.tableList th {
  border: 0px solid #ddd;
  color: white;
  padding: 8px;

}

.tableList tr:nth-child(even) {
  background-color: #000000;
  color: white;

}

.tableList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: rgb(255, 255, 255);
  z-index: 10;
}

.tableList td {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.167);
}


.Calculate:hover,
.Calculate:active,
.Calculate:focus,
.Calculate:visited {
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s; }

.Calculate {
  width: 15%;
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
background-image: linear-gradient(
  75deg,
  hsl(189deg 98% 50%) 0%,
  hsl(191deg 94% 61%) 11%,
  hsl(192deg 93% 66%) 22%,
  hsl(192deg 91% 70%) 34%,
  hsl(192deg 90% 73%) 45%,
  hsl(191deg 88% 76%) 56%,
  hsl(191deg 87% 79%) 68%,
  hsl(191deg 85% 82%) 79%,
  hsl(190deg 84% 84%) 90%,
  hsl(190deg 82% 87%) 100%
);
  color: rgb(0, 0, 0);
  border: 0px solid #19b1cc00;
  box-shadow: #000000;
}

.Calculate:hover {
  border: 0px solid #19b1cc00;
    box-shadow:  0 0px 20px 0 #3a283a; 
}

.Vault {
  width: 15%;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 0px solid black;
  font-weight: 700;
}


.Vault:hover {
  width: 15%;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  color: #3120e9;
  border: 0px solid black;
  font-weight: 700;
  cursor: pointer;
}

.notConnected {
  height: 80vh; /* 100% of the viewport height */
  margin: 0;
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  justify-content: center; /* Horizontally center elements */
  align-items: center; /* Vertically center elements */
  color: white;
}

.VaultDetails {
  padding: 16px 24px;
  font-size: 18px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.VaultDetails:hover {
  background-color: #ffffffd3;
  transition: background-color 0.3s;
}

