@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.dropdownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownButton {
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Zen Dots', sans-serif;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 11px;
}

.dropdownButton:hover {
    background-color: rgba(193, 83, 212, 1);
    border: 2px solid rgba(193, 83, 212, 1);
    color: #000000;
}

.options {
    position: relative;
    margin-top: 2vh;
    margin-bottom: -5vh;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Zen Dots', sans-serif;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Allow options to wrap on smaller screens */
}

.options > div {
    padding: 10px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    margin: 0 5px;
}

.options > div:hover {
    background-color: rgba(193, 83, 212, 1);
    border: 2px solid rgba(193, 83, 212, 1);
    color: #000000;
}
