.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.input1Container {
  border: 2px black;
  border-style: solid;
  width: 600px;
  padding: 20px;  
}

.input2Container {
  border: 2px black;
  border-style: solid;
  width: 600px;
  padding: 20px;
  margin-top: 20px;
   margin-bottom: 20px;
}

.input3Container {
  border: 2px black;
  border-style: solid;
  width: 650px;
  padding: 20px;
  margin-top: 20px;
   margin-bottom: 20px;
   float: right;
}


.subContainer {
  border: 2px black;
  border-style: solid;
  border-radius: 20px;
  width: 550px;
  padding: 50px;
  background-color: white;
}

.label {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

.inputGroup {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.inputGroup input {
  width: 70%;
  border-color: rgba(0, 0, 0, 0);
  text-align: right;
  color: #4f4f4f;
  font-size: 25px;
}


.pillGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.pill {
  flex: 1;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.active {
  background-color: #007bff;
  color: white;
}

.gasFee {
  text-align: right;
  color: #888;
  font-size: 15px;
}

.TextRight {
  text-align: right;
  color: #000000;
  font-size: 15px;
}

.labelWithIcon {
  display: flex;
  align-items: center;
}

.iconContainer {
  margin-right: 8px; 
}


.wallet-connect-container {
  text-align: center;
}


.button {
  border-radius: 20px;
}

.borrowButton {
  background-color: rgba(255, 255, 255, 0); 
  color: rgb(255, 255, 255); 
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.borrowButton:hover {
  transition: 0.2s;
  background-color: rgb(255, 255, 255); 
  color: rgb(0, 0, 0); 
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 90%; 
  height: 70%;
  z-index: 4;
  align-items: center;
  align-content: center;
  text-align: center;

}

.modalNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.modalDropdown {
  appearance: none;
  flex-grow: 1;
  margin-left: 20px; 
  padding: 10px;
  border-radius: 10px;
  float: left;
  align-self: flex-start;
  text-align-last: center;
}

.closeIconContainer {
  cursor: pointer;
}

.closeIcon {
  font-size: 1.5rem;
  color: #ccc;
}


.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
  padding: 0 50px;
  
}

.tableList {
  border-collapse: collapse;
  width: 100%;
}

.tableList td,
.tableList th {
  border: 0px solid #ddd;
  color: white;
  padding: 8px;
}

.tableList tr:nth-child(even) {
  background-color: #000000;
  color: white;
}

.tableList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: rgb(148, 148, 148);
}

.tableList td {

  background-color: rgb(31, 77, 141);
}


.createWalletContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.createWalletButton {
  padding: 16px 24px; 
  font-size: 18px;   
  background-color: #007bff; 
  color: #fff;       
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.createWalletButton:hover {
  background-color: #0056b3; /* Change the hover background color */
}


.Calculate:hover,
.Calculate:active,
.Calculate:focus,
.Calculate:visited {
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s; }

.Calculate {
  width: 15%;
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 2px solid black;
  box-shadow: #000000;
}

.Calculate:hover {
  width: 15%;
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(39, 39, 39);
  color: rgb(255, 255, 255);
  border: 2px solid black;
}

.Vault {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 0px solid black;
  font-weight: 700;
  text-decoration: underline;
}


.Vault:hover {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  color: rgb(0, 0, 0);
  border: 0px solid black;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color:#5ea3ec;
  cursor: pointer;
}