@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
.dropdownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownButton {
  padding: 15px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-family: Zen dots;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 11px;
}
.dropdownButton:hover{
  background-color: rgba(193, 83, 212, 1); 
  border: 2px solid rgba(193, 83, 212, 1);
  color: #000000; 
}

.options {
  position:absolute;
  top: 35vh;
  left: 79.2vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Zen dots;
  align-items: center;
  justify-content: center;
  gap:4px

}

.options > div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 7px;
  color: white;
}


.options > div:hover {
  background-color: rgba(193, 83, 212, 1); 
  border: 2px solid rgba(193, 83, 212, 1);
  color: #000000; 
}
