/* HomeButtons.module.css (or use your existing CSS file) */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 10vh;
  }
  
  .buttonLink {
    text-decoration: none;
  }
  
  .button {
    padding: 10px 20px;
    border: 2px solid #ffffff; 
    border-radius: 18px;
    background-color: transparent;
    color: #ffffff; 
    cursor: pointer;
    font-family: Zen dots;
  }
  
  .button:hover {
    background-color: rgba(193, 83, 212, 1); 
    border: 2px solid rgba(193, 83, 212, 1);
    color: #000000; 
  }
  
  .active {
    background-color: rgba(193, 83, 212, 1); 
    border: 2px solid rgba(193, 83, 212, 1);
    color: #000000; 
  }