.navbar {
  background-color: #24242461; /* Purple background color */
  color: #fff; /* White text color */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  position: relative;  /* This creates a new stacking context */
  gap: 0.5rem; /* Adjusted gap */
  flex-wrap: wrap; /* Allow the items to wrap onto the next line if necessary */ 
  z-index: 1;  /* This ensures the navbar and its children are on top of other elements like the blob */ 
}
.navbarLogo {
  position: relative;
  z-index: 1;
  margin-top: -10px; /* adjust as necessary */
  margin-bottom: -10px; /* adjust as necessary */
  padding-top: 10px; /* should be the same as the negative margin-top */
  padding-bottom: 10px; /* should be the same as the negative margin-bottom */
}

.logoImage {
  max-width: 140px; 
  max-height: 80px; 
}
.navbarTitle {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.button, .button:hover {
  border-radius: 20px;
}

.connected-address {
  font-size: 1rem;
  margin-top: 1rem;
}

.navbarTitle {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.navbarLinks {
  display: flex; /* Make the links flex items */
  flex-wrap: wrap; /* Allow the items to wrap onto the next line if necessary */
  gap: 5rem; /* Adjusted gap */}



  @media (max-width: 740px) {
    .navbar {
      flex-direction: column;  /* Stack items vertically */
    align-items: center;  /* Center align items horizontally */
    justify-content: center; 
        padding: 0.5rem; /* Adjusted padding */
    }
    
    .navbarLinks {
      width: 100%;  /* Full width to allow centering */
    justify-content: center;  /* Center align links */
    margin-bottom: 0.5rem;
        gap: 0.5rem; /* Adjusted gap */
    }

    .navbarLink, .connectButton {
        font-size: 0.8rem; /* Reduced font size */
        padding: 0.5rem; /* Adjusted padding */

    }

    .select-container, .select-element {
        font-size: 0.8rem; /* Reduced font size */
    }
    .select-container, .connectButton {
      margin-top: 0.5rem;  /* Optional: Add some space above the select container and connect button */
    }
}





.navbarLink {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 70px;
  padding: 10px;
  font-size: 18px;
  transition: color 0.3s;
  float: left;
}

.navbarLink:hover {
  background-color: #343434;
  border-radius: 10px;
  padding: 10px;
  color: white; 
  text-align: center;
  width: 70px;
  transition: 0.2s;
}

.activeLink {
  color: rgba(var(--text-color));
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  text-align: center;
  width: 80px;
  padding: 10px
}
.activeLink:hover {
  box-shadow: rgba(white, 2) 0px 0px 20px 0px;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
  
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500;
}

.modalContent {
  background-color: #fff;
  color: black;
  padding: 20px;
   border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.262);
  z-index: 1500;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 15px;

}

.modalActions {
  display: flex;
  justify-content: space-between;
   z-index: 99;
}


.modalContainer {
  position: relative;
   padding: 20px;
   z-index: 99;
}

.closeIcon {
  position: absolute;
  color:rgb(43, 43, 43);
  cursor: pointer;
  font-size: 20px;
  color: #7c7c7c;
  z-index: 100;
}


.copyButton,
.disconnectButton {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 45%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyButton {
  background-color: #cecece;
  color: rgb(32, 32, 32);
}

.disconnectButton {
  background-color: red;
  color: white;
}

.copyButton i,
.disconnectButton i {
  margin-right: 5px;
}

.dropdownContainer {
  display: flex; 
  align-items: center; 
  border-radius: 10px;
}


.select-container {
  flex-grow: 1; 
  margin-right: 8px; 
}

.select-element {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  color: #000000;
  transition: box-shadow 0.3s ease; /* Smooth transition */
}

.select-element:hover {
  box-shadow: 0 0 5px 2px #ca92fb; /* Purple glow */
}



.connectButton {
  background: white;
  color: #000000;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

.connectButton:hover {
  background-color: #fafafa;
  color: #000000;
  padding: 12px 36px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 0 5px 2px #ca92fb; /* Purple glow */

}
