/* styles/globals.css */
@import "~font-awesome/css/font-awesome.css";




.navbar {
  background-color: #000000; /* Purple background color */
  color: #fff; /* White text color */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarTitle {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.button, .button:hover {
  border-radius: 20px;
}


.disconnectButton {
  background-color: red;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 1rem;
}



.connected-address {
  font-size: 1rem;
  margin-top: 1rem;
}

.navbarTitle {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.navbarLinks {
  display: flex; /* Make the links flex items */
  gap: 100px; /* Adjust the gap between links as needed */
}

.navbarLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  float: left;
}

.navbarLink:hover {
  color: #0056b3; 
}

.dropdownContainer {
  position: relative;
  display: inline-block;
  
}

.connectButton {
  background-color: #0E76FD; /* Green button color */
  color: #fff; /* White text color */
  padding: 12px 36px; /* Increase padding for button */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

.connectButton:hover {
  background-color: #1a7dfe; /* Green button color */
  color: #fff; /* White text color */
  padding: 12px 36px; /* Increase padding for button */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}


.disconnectDropdownButton {
  background-color: #fafafa; /* Green button color */
  color: #000000; /* White text color */
  padding: 12px 26px; /* Increase padding for button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px; 
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  color: black;
  padding: 20px;
   border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.262);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 15px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
}


.modalContainer {
  position: relative;
   padding: 20px;
}

.closeIcon {
  position: absolute;
  color:rgb(43, 43, 43);
  cursor: pointer;
  font-size: 20px;
  color: #7c7c7c;
  z-index: 2;
}


.copyButton,
.disconnectButton {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 45%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyButton {
  background-color: #cecece;
  color: rgb(32, 32, 32);
}

.disconnectButton {
  background-color: red;
  color: white;
}

.copyButton i,
.disconnectButton i {
  margin-right: 5px;
}

.dropdownContainer {
  display: flex; /* Display children inline */
  align-items: center; /* Vertically center children */
}

.select-container {
  flex-grow: 1; /* Allow the select element to grow and take available space */
  margin-right: 8px; /* Add margin between select and button */
}

.select-element {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.connectButton {
  background-color: #0E76FD;
  color: #fff;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  z-index: 4;
}

.connectButton:hover {
  background-color: #1a7dfe;
  color: #fff;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
   z-index: 4;
}



