.navbar {
  background-color: #242424; /* Purple background color */
  color: #fff; /* White text color */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
}
.logoImage {
  max-width: 140px; 
  max-height: 80px; 
}
.navbarTitle {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.button, .button:hover {
  border-radius: 20px;
}





.connected-address {
  font-size: 1rem;
  margin-top: 1rem;
}

.navbarTitle {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.navbarLinks {
  display: flex; /* Make the links flex items */
  gap: 100px; /* Adjust the gap between links as needed */
}

.navbarLink {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 70px;
  padding: 10px;
  font-size: 18px;
  transition: color 0.3s;
  float: left;
}

.navbarLink:hover {
  background-color: #343434;
  border-radius: 10px;
  padding: 10px;
  color: white; 
  text-align: center;
  width: 70px;
  transition: 0.2s;
}

.activeLink {
  background-color: #0E76FD;
  border-radius: 10px;
  padding: 10px;
  color: white; 
  text-align: center;
  width: 70px;
}
.activeLink:hover {
  background-color: #2281fe;
  border-radius: 10px;
  padding: 10px;
  color: white; 
}

.dropdownContainer {
  position: relative;
  display: inline-block;
  
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  color: black;
  padding: 20px;
   border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.262);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 15px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
}


.modalContainer {
  position: relative;
   padding: 20px;
}

.closeIcon {
  position: absolute;
  color:rgb(43, 43, 43);
  cursor: pointer;
  font-size: 20px;
  color: #7c7c7c;
  z-index: 2;
}


.copyButton,
.disconnectButton {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 45%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyButton {
  background-color: #cecece;
  color: rgb(32, 32, 32);
}

.disconnectButton {
  background-color: red;
  color: white;
}

.copyButton i,
.disconnectButton i {
  margin-right: 5px;
}

.dropdownContainer {
  display: flex; 
  align-items: center; 
  border-radius: 10px;
}


.select-container {
  flex-grow: 1; 
  margin-right: 8px; 
}

.select-element {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.connectButton {
  background-color: #0E76FD;
  color: #fff;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  z-index: 4;
}

.connectButton:hover {
  background-color: #1a7dfe;
  color: #fff;
  padding: 12px 36px;
  border: none;
  cursor: pointer;
  font-size: 15px;
   z-index: 4;
}