/* WalletConnect.css */

.body {
  height: 100vh; /* 100% of the viewport height */
  margin: 0;
  display: flex;
  justify-content: center; /* Horizontally center elements */
  align-items: center; /* Vertically center elements */
  background-color: #000000;
  color: white;
}


.button {
  border-radius: 20px;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  color: black;
  padding: 20px;
   border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.262);
}

/* Add or modify this CSS in your styles file */

.modalContainer {
  position: relative;
  padding: 20px;
  /* Add other styles as needed */
}

.modalHeader {
  display: flex;
  flex-direction: column; 
  padding: 20px;
}

.modalHeader p,
.modalHeader h3 {
  margin: 0; /* Remove default margin to control spacing manually */
}


.modalActions {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}


.closeIcon {
  position: absolute;
  color:rgb(43, 43, 43);
  cursor: pointer;
  font-size: 20px;
  color: #7c7c7c;
  z-index: 2;
}

.general0 {
  padding: 10px;
  font-size: 16px;
  min-width: 400px;
  border: none;
   border-radius: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cecece;
  color: rgb(32, 32, 32);
}

.general {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  
}

.general2 {
  padding: 10px;
  font-size: 16px;
  min-width: 300px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0E76FD;
  color: rgb(255, 255, 255);
}

.copyButton i,
.disconnectButton i {
  margin-right: 5px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.formInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.formButton {
  background-color: #0E76FD;
  color: #fff;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  width: 105%
}

.formButton:hover {
  background-color: #1a7dfe;
}
