/* WalletConnect.css */

.wallet-connect-container {
  text-align: center;
}

.navbar {
  background-color: #000000; /* Purple background color */
  color: #fff; /* White text color */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  margin: 0;
  font-size: 1.5rem;
}

.button {
  border-radius: 20px;
}


.disconnectButton {
  background-color: red;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 1rem;
}

.connectutton:hover,
.disconnect-button:hover {
  background-color: #009624; /* Darker green on hover */
}

.connected-address {
  font-size: 1rem;
  margin-top: 1rem;
}

.navbarTitle {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.navbarLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  float: left;
}

.navbarLink:hover {
  color: #0056b3; /* Change the color on hover */
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.connectButton {
  background-color: #0E76FD; /* Green button color */
  color: #fff; /* White text color */
  padding: 12px 36px; /* Increase padding for button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.connectButton:hover {
  background-color: #1a7dfe; /* Green button color */
  color: #fff; /* White text color */
  padding: 12px 36px; /* Increase padding for button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}


.disconnectDropdownButton {
  background-color: #fafafa; /* Green button color */
  color: #000000; /* White text color */
  padding: 12px 26px; /* Increase padding for button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px; /* Increase font size for button */
}/* Add these styles to your existing CSS */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Add or modify this CSS in your styles file */

.modalContainer {
  position: relative;
  padding: 20px;
  /* Add other styles as needed */
}

.modalHeader {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
}

.modalHeader p,
.modalHeader h3 {
  margin: 0; /* Remove default margin to control spacing manually */
}


.modalActions {
  display: flex;
  justify-content: space-between;
}


.closeIcon {
  position: absolute;
  color: #000000;
  cursor: pointer;
  font-size: 20px;
  color: #6d6d6d;
   z-index: 2; 
  /* Add any other styles you need for the close icon */
}


.copyButton,
.disconnectButton {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 45%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyButton {
  background-color: #3498db;
  color: white;
}

.disconnectButton {
  background-color: red;
  color: white;
}

.general {
      padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 45%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: rgb(238, 255, 0);
}

.general2 {
      padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: rgb(238, 255, 0);
}

.copyButton i,
.disconnectButton i {
  margin-right: 5px;
}
